<div class="card ">
  
  <div class="card-block ">
    <h1>About Me</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-5">
        <%= image_tag "images.jpg", width: 300, alt: "profile image" %>
      </div>
      
      <div class="col-md-7">
        <p>Suspendisse porta elementum quam, eu faucibus eros placerat id. Donec mattis lacinia ex, at cursus magna facilisis interdum. Nullam quam risus, feugiat eget euismod et, commodo sit amet augue. Nulla nec mauris fermentum, 
        vehicula massa et, hendrerit ex. Vivamus sollicitudin fermentum ipsum at viverra. 
        </p>
        
        <p>Nulla efficitur enim enim, vitae efficitur urna sodales sit amet. Praesent fringilla, quam in condimentum feugiat, dolor mauris suscipit sem,
        sed consequat mi dolor in erat. Praesent pellentesque neque urna, vitae tincidunt ligula auctor ut. Fusce sit amet eleifend libero, non varius ligula. Curabitur sit amet pretium arcu. Nunc in odio vitae felis tempor convallis 
        nec id nibh. Nullam nec egestas leo. Pellentesque lacinia a magna sed fermentum. Nulla facilisi.
        </p>
      </div>
      
    </div>
    
  </div>
  
</div>