<div class="card ">
  
  <div class="card-block ">
    <h1>Contact me at </h1>

    <hr>
    
    <div class="row ">
      
      <div class="col-md-6 ">
        <h5>For Buisness Inquiries</h5>
        <p>(801) 234-5789</p>
        <p>user@email.com</p>
        <br>
        <h5>Contact During Work Hours</h5>
        <p>(801) 234-5789</p>
        <p>user@email.com</p>
      </div>
      
      <div class="col-md-6 ">
        <h6>Buisness Address</h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.223634975622!2d-111.8500789841942!3d40.4260466793641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8005b0e3ece1%3A0x7313bac406ac37dc!2sSkyridge+High+School!5e0!3m2!1sen!2sus!4v1500389022306" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>