<h1>Contact me</h1>
<p><%= number_to_phone "8012345678" %></p>
<p><%= number_to_currency "1234567890987654321" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "123454874161812354894231845784598432187318751894651" %></p>