
<div class="inner cover">
  <h1 class="cover-heading">Home Page.</h1>
  <p class="lead">Smartphones. Vivamus risus velit, and the territories that he wishes to neither, venenatis tristique lorem. Suspendisse sed from their mourning, iaculis tortor sed, hendrerit out. Tomorrow entrepreneurs 
  how to set photography, clinical sit biggest football. Or even real estate, which was played. Jasmine sauce was running. Sound wave nibh some time. Morbi ut sapien nec justo ullamcorper dignissim. Boat had triplet propaganda.
  Nulla tincidunt enim eu mi of the valley, from the ac condimentum aliquet. Aliquam malesuada, pain in the dictum vehicula, arcu nisl tincidunt tortor, venenatis turpis mauris nec ut sem. Maecenas football at large. Nutrition
  deductible unless a trademark cartoon. Gluten. A lion Nullam sem, tincidunt ac viverra in, fringilla porta mi. In order to spotlight any lorem developers, developers need smart airline.</p>
  <p class="lead"> - Google Translated Lorem Ipsum</p>
  <p class="lead">
    <%= link_to "About Me", about_path , class: "btn btn-lt btn-secondary" %>
  </p>
</div>



