
<div class="inner cover">
  <h1 class="cover-heading">Home Page.</h1>
  <p class="lead">Suspendisse potenti. Vivamus risus velit, finibus nec velit id, sollicitudin tristique lorem. 
                  Suspendisse sed ex luctus, iaculis tortor sed, hendrerit ex. Cras posuere quam ut lacus consequat, 
                  eu blandit orci maximus. Integer vel placerat diam, id vestibulum libero. Aenean condimentum dictum cursus. 
                  Integer aliquam nibh quis convallis tempus. Morbi ut sapien nec justo ullamcorper dignissim. Phasellus eu tristique 
                  augue. Nulla tincidunt enim eu mi convallis, ac condimentum ex aliquet. Aliquam malesuada, dolor in dictum vehicula, 
                  arcu nisl tincidunt tortor, nec venenatis turpis mauris ut sem. Maecenas eu magna ante. Pellentesque eleifend nisi
                  a tincidunt viverra. Aliquam erat volutpat. Nullam sem leo, tincidunt ac viverra in, fringilla porta mi. Ut vestibulum 
                  arcu quis lorem tincidunt, eget tincidunt dolor porttitor. 
                  
                  Vivamus vel dui urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                  Phasellus dictum nibh justo, a mattis risus pellentesque a. Suspendisse ullamcorper elementum lectus, sit amet 
                  pellentesque libero rutrum in. Aenean non est dui. Sed at pretium nunc. Quisque placerat, lacus iaculis porttitor 
                  sollicitudin, augue sapien aliquet justo, sit amet consectetur dui enim nec eros. Pellentesque sit amet mauris dui. 
                  Vestibulum fringilla magna turpis, at sollicitudin velit consequat quis. Nunc vestibulum semper ultrices. Curabitur
                  dapibus lectus lectus, quis commodo dui porta eget.</p>
  <p class="lead">
    <%= link_to "About Me", about_path , class: "btn btn-lt btn-secondary" %>
  </p>
</div>



